<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{usuario}}</title>
    <link rel="stylesheet" href="/public/estilos.css">
</head>
<body>

        {% if logeado and admin %}
        {% include "header.html" %}
            <h1>Welcome {{usuario}}</h1> 
            <a href="/add">Manage books</a>
            <h2><a href="/logout">Logout</a></h2>
        {% elif logeado %}
        {% include "header.html" %}
            <h1>Welcome {{usuario}}</h1> 
            
            <h2><a href="/logout">Logout</a></h2>
        {% else %}
            <h1>Login</h1>    
            <form action="/login" method="post">
            <label>User</label>
            <input type="text" name="usuario" placeholder="User..." required>
            <label>Password</label>
            <input type="password" name="contrasenia" placeholder="Password..." required>
            <input type="submit" value="Login">
            </form>
        {% endif %}    
</body>
</html>